.slide-selected {
  background-color: transparent;
}

.slide {
  background-color: transparent;
  height: 30rem;
  /* background-image: url("/images/health-carousel-cropped.png"); */
  /* background-image: url(`${process.env.PUBLIC_URL}/images/background-image-${randNum}.jpg`); */
  /* background-position: center bottom; */
  /* margin-bottom: -20rem; */
  /* margin-top: 20rem; */
  object-fit: cover;
  overflow: hidden;
  object-position: 50% 50%;
}

.slide img {
  /* margin: -10rem; */
}

.slide1 {
  /* background-size: cover; */
}

.splash__container {
  display: grid;
  margin: auto;
  width: 80%;
}

.splash__header {
  background-image: url("../../images/wood_background.jpg");
}

.splash__step {
  display: grid;
  grid-template-columns: auto auto;
  height: auto;
}

.splash__step h2 {
  display: grid;
}

.splash__step img {
  height: 10rem;
}
