.slide-selected {
  background-color: transparent;
}

.slide {
  background-color: transparent;
  height: 30rem;
  /* background-image: url("/images/health-carousel-cropped.png"); */
  /* background-image: url(`${process.env.PUBLIC_URL}/images/background-image-${randNum}.jpg`); */
  /* background-position: center bottom; */
  /* margin-bottom: -20rem; */
  /* margin-top: 20rem; */
  object-fit: cover;
  overflow: hidden;
  object-position: 50% 50%;
}

.slide img {
  /* margin: -10rem; */
}

.slide1 {
  /* background-size: cover; */
}

.splash__container {
  display: grid;
}

.splash__header {
  background-image: url("../../images/wood_background.jpg");
  height: 20rem;
  background-size: cover;
}

.splash__blur {
  backdrop-filter: blur(3px);
  height: 100%;
}

.splash__title {
  color: white;
  font-size: 2rem;
  display: grid;
  text-align: center;
  padding-top: 2rem;
}

.splash__title h1 {
}
.splash__title p {
}

.splash__input {
  width: 30%;
  justify-self: center;
  margin-top: 2rem;
}

.splash__email-btn {
  margin-top: 1rem;
  width: 5rem;
  color: black;
  justify-self: center;
}

.splash__steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 3rem;
  margin: auto;
  width: 80%;
}

.splash__step {
  display: grid;
  grid-template-rows: auto auto;
  height: auto;
  text-align: center;
  justify-content: center;
}

.splash__step h2 {
  font-size: 1.5rem;
}

.splash__step img {
  height: 10rem;
  display: grid;
  justify-self: center;
}
