.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 400px;
  right: -400px;
  transition: all 0.2s linear;
  background-color: #fafafa;
  box-shadow: 0px 0 8px 1px lightgray;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 54px;
  background-color: #f0881e;
  box-shadow: 3px -1px 3px 3px lightgray;
}
.sidebar-header h1 {
  color: white;
  margin-right: 8rem;
}

.arrow-button {
  color: white;
  height: 32px;
  background-color: #f0881e;
  border: 0;
  border-radius: 8px;
  min-width: 32px;
}

.cart__container {
  margin: 3rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.cart__container h1 {
  font-size: 2rem;
}

.cart__item {
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 1fr 1fr 1fr;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.5rem;
  color: rgb(100, 100, 100);
}

.cart__name {
  /* margin-top: 1rem; */
}

.cart__count {
  justify-self: center;
}

.cart__minus {
  background-color: red;
  border: none;
  border-radius: 1rem;
  height: 1.5rem;
}

.cart__plus {
  background-color: lightgreen;
  border: none;
  border-radius: 1rem;
}

.cart__order {
  background-color: #f0881e;
  color: white;
  height: 3rem;
  width: 6rem;
  border: none;
  border-radius: 0.3rem;
}

.cart__empty {
  padding-top: 4rem;
  text-align: center;
  font-size: 2rem;
}

.thank-you {
  padding-top: 4rem;
  text-align: center;
  font-size: 2rem;
}
