.nav__container {
  display: grid;
  grid-template: 4rem / 2fr 2fr 4fr;
  overflow: hidden;
}

.nav__logo-container {
  height: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 0.5rem;
}
.nav__logo {
  align-self: center;
  justify-self: end;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.nav__logo-container h2 {
  align-self: center;
  padding-left: 0;
  font-size: 1.4rem;
}

.nav__links {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  list-style-type: none;
}

.nav__links div {
  padding-right: 1rem;
  text-decoration: none;
}

.nav__links button {
  height: 2rem;
  width: 7rem;
  border-radius: 0.5rem;
  background-color: #1e86f0;
  color: white;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
}

.nav__browse {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav__browse a {
  color: rgb(100, 100, 100);
  align-self: center;
  margin-left: 1rem;
  white-space: nowrap;
}

.nav__browse a:hover {
  text-decoration: underline;
}
