.nav__container {
  display: grid;
  grid-template: 4rem / 2fr 3fr 3fr;
  overflow: hidden;
}

.nav__logo-container {
  height: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}
.nav__logo {
  align-self: center;
  justify-self: end;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.nav__logo-container h2 {
  align-self: center;
  padding-left: 0;
}
