#root {
}

a div {
  color: black;
}

.explore__root {
  background-color: white;
}

.explore__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 35rem auto;
}

.explore__business-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 100%;
  overflow: scroll;
}

.explore__business-card {
  margin: 1rem;
  overflow: hidden;
  width: 95%;
  height: 18rem;
  /* background-color: #878787; */
  box-shadow: 3px 3px 5px rgb(224, 224, 224);
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
  background-color: white;
}

.explore__business-card:hover {
  box-shadow: 0px 0px 5px rgb(107, 107, 107);
}

.business__container {
  width: 100%;
  display: grid;
  color: black;
  justify-content: center;
}

.business__container button {
  background: none;
  border: none;
  padding: 0;
}

.business__name {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
  overflow: hidden;
  height: 2rem;
}

.business__img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  justify-self: center;
}

.business__img img {
  width: 100%;
}

.business__rating {
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  color: #878787;
}

.business__description {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.item-added__alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  justify-self: center;
  padding-left: 0.6rem;
  margin-top: 1rem;
  height: 2rem;
  width: 80%;
  background-color: #f0881e;
  border: 3px solid #af5d0a;
}
.item-added__alert button {
  background-color: #f0881e;
  color: rgb(100, 100, 100);
  font-size: 1.2rem;
  border: none;
  align-self: flex-end;
}

.menu__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

.item__container {
  justify-self: center;
  text-align: center;
  display: grid;
  width: 15rem;
  margin: 1rem;
  /* background-color: #878787; */
  box-shadow: 3px 3px 5px rgb(224, 224, 224);
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
  background-color: white;
}

.item__container div {
  margin: 0.5rem;
}

.item__name {
  font-size: 1.5rem;
}

.item__description {
  color: rgb(100, 100, 100);
  height: 1.5rem;
}

.item__price {
  color: rgb(100, 100, 100);
  height: 1.5rem;
}

.button__add-to-order {
  align-self: end;
  width: 100%;
  background-color: #1e86f0;
  color: white;
  height: 3rem;
}

.charity__list {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.charity__container {
  width: 14rem;
  height: 20rem;
  display: grid;
  color: black;
  margin: 1rem;
  /* background-color: #878787; */
  box-shadow: 3px 3px 5px rgb(224, 224, 224);
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
  background-color: white;
}

.charity__container img {
  height: 8rem;
  width: 100%;
}

.charity__description {
  height: 6rem;
  color: rgb(100, 100, 100);
  font-size: 1rem;
  overflow-y: scroll;
  max-height: 6rem;
}

.charity__container button {
  background-color: #1e86f0;
  color: white;
  font-size: 1.5rem;
  height: 3rem;
}

.business__active {
  display: grid;
  grid-template-columns: 18rem auto;
  height: 23rem;
  width: 30rem;

  justify-items: center;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 1px rgb(219, 219, 219);
}

.business__active img {
  height: 18rem;
  max-width: 18rem;
}
.business__active-description {
  margin-left: 0.5rem;
}
.business__active-description h2 {
  font-size: 2rem;
}

.business__active-description h3 {
  font-size: 1.3rem;
  color: #878787;
}

.mapbox__spot-icon {
  color: #f0881e;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  height: 50px;
  width: 5px;
}

.map__popup {
  height: 5rem;
  width: 16rem;
  overflow: hidden;
  /* margin: 0.3rem; */
  position: relative;
  box-sizing: border-box;
}

.map__popup h2 {
  font-size: 1.4rem;
  height: 2.2rem;
  overflow: hidden;
  background-color: #f0881e;
  padding: 0.3rem;
  color: white;
}

.map__popup h3 {
  font-size: 1rem;
  color: #878787;
  height: auto;
  overflow: hidden;
  padding: 0.3rem;
  padding-bottom: 0;
}

.mapbox__spot-icon span {
  font-size: 2rem;
}
